/* diagnostic styling; comment this out when submitting*/

* {
    outline: 2px dotted white
}

    body{
        background: springgreen;
        display: grid;
        place-items: center;
        height: 100vh;
      }
      
      button {
        background: lightgoldenrodyellow;
        padding: 1em;
        border-radius: 0.75em;
        filter: drop-shadow(.25em .25em 4px black);
        
      }